attrs==18.1.0
boto3==1.9.159
botocore==1.12.159
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
colorama==0.4.1
cycler==0.10.0
dask==2.1.0
docutils==0.14
future==0.16.0
idna==2.8
jmespath==0.9.4
kiwisolver==1.0.1
matplotlib==3.1.2
mock==2.0.0
nose==1.3.7
numerai-cli==0.1.18
numerapi>=2.0.0
numerox==4.0.0
numexpr==2.6.9
numpy==1.16.1
pandas==0.24.2
pbr==5.1.3
pyparsing==2.3.1
pyswarm==0.6
python-dateutil==2.7.5
pytz==2019.1
PyYAML==5.1
requests==2.21.0
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.0
six==1.12.0
tables==3.5.1
toolz==0.10.0
tqdm==4.32.1
urllib3==1.24.2
